/*
  XXX: these should move to apptheme.css when we decided
  the correct protocol to specify current active section of the app in CSS.
*/

body.test section {
  -moz-transform: translateX(-100%);
}

/* View - Slide Horizontal Transition */
/* XXX hack: the width is adjusted (0-100%) with a delayed transition in order
* to hide the horizontal scrollbar on the device (at least, when the
* transition is over).
* This is just a workaround: the platform bug should be fixed later. */

#test-panel {
  -moz-transform: translateX(100%);

  /* XXX hack */
  overflow: hidden;
  z-index: 1;
  width: 0%;
  -moz-transition: -moz-transform 0.3s ease, width 0s linear 0.5s;
}

#tests {
  -moz-transform: translateX(0);

  /* XXX hack */
  overflow: hidden;
  z-index: 10;
}

body.test #test-panel {
  -moz-transform: translateX(0);

  /* XXX hack */
  z-index: 10;
  width: 100%;
  -moz-transition: -moz-transform 0.3s ease;
}

body.test #tests {
  -moz-transform: translateX(-100%);

  /* XXX hack */
  z-index: 1;
  width: 0%;
  -moz-transition: -moz-transform 0.3s ease, width 0s linear 0.5s;
}

/* // XXX: move to apptheme */

/* This is the only non-standard Widget in our UI test app */
#test-iframe {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
